:root {
  --color-light-xl: #fff;
  --color-light-l: #f6f6f6;
  --color-light-s: #fafafa;
  --color-dark-s: #cdcdcd;
  --color-dark-m: #b2b2b2;
  --color-dark-l: #545454;
  --color-dark-xl: #4c4c4c;
  --color-dark-2xl: #444;
  --color-dark-3xl: #292929;
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
  --start-screen-gradient-background: #211f20;
  --footer-gradient-background: #211f20;
}

:root {
  --font-family: "Georgia", sans-serif;
  --second-family: "Arial", sans-serif;
  --third-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 1280px;
  margin: auto;
}

.header {
  position: absolute;
  left: 40px;
  top: 30px;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 60px;
  margin: auto;
}

.logo-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-primary);
}

.logo-subtitle {
  padding-top: 10px;
  padding-left: 4px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: var(--color-light-xl);
}

.nav {
  align-self: center;
  height: 27px;
}

.nav-list {
  display: flex;
  column-gap: 35px;
  list-style-type: none;
}

.nav-item {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-s);
}

.nav-item:hover {
  cursor: pointer;
  color: var(--color-light-s);
}

.item-active {
  border-bottom: 3px solid var(--color-primary);
  color: var(--color-light-s);
}

.start {
  height: 908px;
  background: url("./assets/img/noise_transparent.png"),
    radial-gradient(
      237.5% 111.8% at 0% 0%,
      rgb(91, 72, 58) 0%,
      rgb(38, 36, 37) 100%
    ),
    var(--start-screen-gradient-background);
}

.start-container {
  display: flex;
  column-gap: 42px;
  width: 1200px;
  height: 728px;
  margin: 0 auto;
  padding-top: 180px;
}

.start-container-content {
  width: 460px;
  height: 322px;
}

.start-content-header {
  padding-top: 163px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: var(--color-light-xl);
}

.start-content-subheading {
  margin: 42px 0px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-s);
}

.start-container-image {
  width: 698px;
  height: 728px;
  background: url("./assets/img/start-screen-puppy.png");
  background-size: contain;
}

.start-container-btn {
  width: 207px;
  height: 52px;
  padding: 15px 45px;
  border-radius: 100px;
  background: var(--color-primary);
}

.start-container-btn:hover {
  cursor: pointer;
  background: var(--color-primary-light);
}

.about {
  width: 1280px;
  height: 588px;
  background: var(--color-light-xl);
}

.about-content {
  display: flex;
  width: 1200px;
  height: 408px;
  margin: 80px auto 100px;
}

.about-img {
  width: 300px;
  height: 408px;
  margin: 0 120px 0 175px;
  background: url("./assets/img/about-pets.png");
  background-size: contain;
}

.about-text {
  width: 430px;
  height: 380px;
  margin-top: 14px;
}

.about-text-heading {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.about-text-description {
  margin-top: 25px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-xl);
}
