:root {
  --color-light-xl: #fff;
  --color-light-l: #f6f6f6;
  --color-light-s: #fafafa;
  --color-dark-s: #cdcdcd;
  --color-dark-m: #b2b2b2;
  --color-dark-l: #545454;
  --color-dark-xl: #4c4c4c;
  --color-dark-2xl: #444;
  --color-dark-3xl: #292929;
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
  --start-screen-gradient-background: #211f20;
  --footer-gradient-background: #211f20;
}

:root {
  --font-family: "Georgia", sans-serif;
  --second-family: "Arial", sans-serif;
  --third-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 1280px;
  margin: auto;
}

.header {
  position: absolute;
  left: 40px;
  top: 30px;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 60px;
  margin: auto;
}

.logo-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-primary);
}

.logo-subtitle {
  padding-top: 10px;
  padding-left: 4px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: var(--color-light-xl);
}

.nav {
  align-self: center;
  height: 27px;
}

.nav-list {
  display: flex;
  column-gap: 35px;
  list-style-type: none;
}

.nav-item {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-s);
}

.nav-item:hover {
  cursor: pointer;
  color: var(--color-light-s);
}

.item-active {
  border-bottom: 3px solid var(--color-primary);
  color: var(--color-light-s);
}

.start {
  height: 908px;
  background: url("./assets/img/noise_transparent.png"),
    radial-gradient(
      237.5% 111.8% at 0% 0%,
      rgb(91, 72, 58) 0%,
      rgb(38, 36, 37) 100%
    ),
    var(--start-screen-gradient-background);
}

.start-container {
  display: flex;
  column-gap: 42px;
  width: 1200px;
  height: 728px;
  margin: 0 auto;
  padding-top: 180px;
}

.start-container-content {
  width: 460px;
  height: 322px;
}

.start-content-header {
  padding-top: 163px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: var(--color-light-xl);
}

.start-content-subheading {
  margin: 42px 0px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-s);
}

.start-container-image {
  width: 698px;
  height: 728px;
  background: url("./assets/img/start-screen-puppy.png");
  background-size: contain;
}

.start-container-btn {
  width: 207px;
  height: 52px;
  padding: 15px 45px;
  border-radius: 100px;
  background: var(--color-primary);
}

.start-container-btn:hover {
  cursor: pointer;
  background: var(--color-primary-light);
}

.about {
  width: 1280px;
  height: 588px;
  background: var(--color-light-xl);
}

.about-content {
  display: flex;
  width: 1200px;
  height: 408px;
  margin: 80px auto 100px;
}

.about-img {
  width: 300px;
  height: 408px;
  margin: 0 120px 0 175px;
  background: url("./assets/img/about-pets.png");
  background-size: contain;
}

.about-text {
  width: 430px;
  height: 380px;
  margin-top: 14px;
}

.content-heading {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.about-text-description {
  margin-top: 25px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-xl);
}

.pets {
  height: 877px;
  background: var(--color-light-l);
}

.pets-content {
  width: 1200px;
  height: 697px;
  margin: 80px auto 100px;
  padding-top: 80px;
}

.help {
  height: 611px;
  padding-top: 80px;
  background: var(--color-light-xl);
}

.help-content {
  width: 1200px;
  height: 431px;
  margin: 0px auto;
  padding: 0 87px;

  /* border: 2px solid red; */
}

.heading-center {
  text-align: center;
}

.pets-content-slider {
  display: flex;
  align-items: center;
  width: 1200px;
  height: 435px;
  margin-top: 60px;
}

.pets-slider-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid var(--color-primary);
}

.btn-left {
  margin-right: 53px;
}

.btn-arrow {
  width: 14px;
  height: 6px;
  background-repeat: no-repeat;
}

.left-arrow {
  background: url(./assets/img/Arrow_left.svg);
}

.pets-slider-btn:hover {
  cursor: pointer;
  border: none;
  background-color: var(--color-primary-light);
}

.pets-slider-card {
  border-radius: 9px;
  width: 270px;
  height: 435px;
  background: var(--color-light-s);
}

.slider-card-img {
  border-radius: 9px 9px 0 0;
  width: 270px;
  height: 270px;
  background-size: contain;
}

.card-img-1 {
  background: url("./assets/img/pets-katrine.png");
}

.slider-card-name {
  margin: 30px auto;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-dark-l);
}

.slider-card-btn {
  width: 187px;
  height: 52px;
  margin: 0px auto;
  padding: 13px 0px;
  border: 2px solid var(--color-primary);
  border-radius: 100px;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
}

.pets-slider-card:hover {
  cursor: pointer;
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
  background: var(--color-light-xl);
}

.pets-slider-card:hover .slider-card-btn {
  border: none;
  background: var(--color-primary-light);
}

.card-img-2 {
  background: url("./assets/img/pets-jennifer.png");
}

.card-img-3 {
  background: url("./assets/img/pets-woody.png");
}

.card-central {
  margin: 0 90px;
}

.btn-right {
  margin-left: 53px;
}

.right-arrow {
  background: url(./assets/img/arrow_right.svg);
}

.pets-content-btn {
  width: 261px;
  height: 52px;
  margin: 60px auto 100px;
  padding: 15px 0px;
  border-radius: 100px;
  background: var(--color-primary);
  text-align: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
}

.pets-content-btn:hover {
  cursor: pointer;
  background: var(--color-primary-light);
}

.help-list {
  display: flex;
  flex-wrap: wrap;
  gap: 55px 120px;
  width: 1026px;
  /* height: 281px; */
  margin-top: 60px;

  /* border: 2px solid red; */
}

.help-list-item {
  /* height: 113px;  */

  /* border: 2px solid red; */
}

.item-1 {
  width: 82px;
}

.item-2 {
  width: 150px;
}

.item-3 {
  width: 60px;
}

.item-4 {
  width: 153px;
}

.item-5 {
  width: 101px;
}

.item-6 {
  width: 89px;
  margin-left: 84px;
}

.item-7 {
  width: 101px;
}

.item-8 {
  width: 165px;
}

.item-9 {
  width: 143px;
}

.item-img {
  width: 60px;
  height: 60px;
  margin: 0 auto 30px;

  /* border: 2px solid blue; */
}

.item-img-1 {
  background: no-repeat center url(./assets/img/pet-food.svg);
}

.item-img-2 {
  background: no-repeat center url(./assets/img/transportation.svg);
}

.item-img-3 {
  background: no-repeat center url(./assets/img/toys.svg);
}

.item-img-4 {
  background: no-repeat center url(./assets/img/bowls-and-cups.svg);
}

.item-img-5 {
  background: no-repeat center url(./assets/img/shampoos.svg);
}

.item-img-6 {
  background: no-repeat center url(./assets/img/vitamins.svg);
}

.item-img-7 {
  background: no-repeat center url(./assets/img/medicines.svg);
}

.item-img-8 {
  background: no-repeat center url(./assets/img/collars-or-leashes.svg);
}

.item-img-9 {
  background: no-repeat center url(./assets/img/sleeping-area.svg);
}

.item-heading {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-dark-l);
  white-space: nowrap;
}
